{%  include '/layout/header.html.twig' %}

{% block title %}Annonces
{% endblock %}

<header>
	<h1 class="text-center mt-5">
		Trouver votre animal de compagnie à adopter</h1>
</header>

<section class="d-flex">
	<aside class="card">
		<h2 class="card-header">Affiner votre recherche
		</h2>
		<div class="card-body"></div>
	</aside>

	<section></section>
</section>
