{%  extends 'base.html.twig' %}

{% block title %}Nos Annonces
{% endblock %}

{% block body %}
<section>
	<h1 class="text-center mt-5">
		Toute nos annonces !</h1>
</section>
	<div style="display: flex;">
		{% for a in annonces %}
			<div style="display: inline-block; width: 30%;">
				<img src="{{asset('asset/images/' ~ a.image )}}" alt="Image Annonce" style="width:100%">
				<div class="container">
					<h4>{{a.prenom}}</h4>
					<p>Publié le
						{{a.description}}</p>
				</div>
			</div>
		{% else %}
			<p>Il n'y a aucun article à afficher.</p>
		{% endfor %}
	</div>
{% endblock %}