{%  extends 'base.html.twig' %}

{% block title %}Annonces
{% endblock %}

{% block body %}
	<main class="mt-0 ">
		<section class="bg-dark text-center p-5 mb-4 w-100 sizefontst">
			<h1 class="text-white ">Nos principes</h1>
			<br>
			<span class="text-white font-weight-light sizefontst">
				<p>La protection de vos informations personnelles est l'une de nos priorités.</p>
				<p>
					Lorsque vous utilisez nos sites et nos services, nous nous engageons à vous offrir une expérience sécurisée et fiable.</p>
			</span>
		</section>

		<section class="text-center w-75 m-auto sizefont">
			<p>Description et signification de nos principes relatifs à la protection de la vie privée
							Être transparent vis-à-vis des informations que nous recueillons
							Nous voulons que nos utilisateurs sachent quels sont les informations que nous recueillons et les avantages qu'ils reçoivent en contrepartie.</p>
			<br>
			<p>Nous expliquons à nos utilisateurs quelles sont les informations que nous recueillons à leur sujet et comment nous entendons les utiliser. Lorsque nous utilisons des moyens techniques pour recueillir des données sur nos utilisateurs sans leur participation directe, nous les informerons et leur offrirons la possibilité de limiter la collecte de ces informations.</p>
			<br>
			<p>Permettre aux utilisateurs d'accéder à leurs propres données et de les modifier facilement
							Des informations précises sur nos membres nous permettent d'améliorer l'expérience utilisateur sur notre site.</p>
			<br>
			<p>Dans la mesure du possible, nous mettrons en place des mécanismes permettant à nos utilisateurs d'accéder aux informations relatives à leur compte et à d'autres interactions avec Adopt'Animal. Nous voulons que nos clients et nos utilisateurs puissent corriger facilement ces informations si elles sont incorrectes ou obsolètes.</p>
			<br>
			<p>Être le gardien des données et de la vie privée des utilisateurs
							Les utilisateurs nous confient leurs informations personnelles et s'attendent à ce que nous les protégions et les utilisions de manière appropriée.</p>
			<br>
			<p>Nous utilisons des programmes de protection des informations personnelles qui intègrent des méthodes d'excellence pour gérer les données personnelles, de leur collecte à leur destruction.</p>
			<br>
			<p>Être responsable de nos engagements en matière de respect de la vie privée
							Nous avons à cœur nos obligations en matière de respect de la vie privée et nous nous imposons des normes de protection élevées.</p>
			<br>
			<p>Notre programme tient compte des obligations légales et de notre engagement envers nos clients à leur permettre d'utiliser notre site en toute confiance.</p>
			<br>
			<p>Permettre aux utilisateurs de faire des choix importants concernant la protection de leurs données personnelles
							Nous savons qu'il est essentiel de pouvoir contrôler ses informations personnelles.</p>
			<br>
			<p>Nous donnons la possibilité à nos utilisateurs de faire des choix réels et réalistes quant aux informations qu'ils partagent avec nous et à la façon dont elles sont utilisées. En outre, nous sommes totalement transparents sur ces choix et les moyens de les modifier.</p>
			<br>
			<p>Limiter le partage des informations sur nos clients
							Nous limitons le partage des informations sur nos clients et nous communiquons les conditions dans lesquelles nous pouvons les partager en dehors d'Adopt'Animal. Les utilisateurs peuvent aussi décider dans quelle mesure ces informations sont divulguées.</p>
			<br>
			<p>Créer et maintenir des produits et services sécurisés
							Nous nous efforçons de fournir une place de marché sécurisée où les acheteurs et les vendeurs peuvent interagir en toute confiance.</p>
			<br>
			<p>Nous avons mis en place plusieurs programmes destinés à protéger l'ensemble des utilisateurs de nos sites Web. Parmi les millions de transactions effectuées chaque jour, seules quelques-unes ne se déroulent pas comme prévu. Nous avons développé des procédures de réclamation et de transfert qui permettent de résoudre les problèmes de manière équitable et cohérente.</p>
			<br>
			<div>
				<h2 class="bgvert">Notre équipe</h2>
				<br>
				<p>Au service de la protection de vos données personnelles</p>
				<br>
				<p>L'équipe d'Adopt'Animal chargée de la protection des données personnelles a pour mission de protéger les informations personnelles de nos utilisateurs pour l'ensemble de nos sociétés. Nous conseillons nos sociétés sur l'utilisation et la divulgation appropriée des informations personnelles. À travers des actions de sensibilisations menées dans toutes nos sociétés, nous développons et encourageons une culture d'entreprise qui met la vie privée au centre des préoccupations. Nous offrons des conseils et des instructions sur les obligations et les pratiques en matière de respect de la vie privée, et nous définissons les attentes pour l'ensemble de la Communauté Adopt'Animal.</p>
			</div>
		</section>
	</main>
{% endblock %}
