* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


/********** Changement Enji *******/

/**** Test animation ****/

body {
    --nav-load-time: 600ms;
    --nav-link-load-time: 600ms;
    --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
  }
  
  nav {
    -webkit-animation: nav-load var(--nav-load-time) ease-in;
            animation: nav-load var(--nav-load-time) ease-in;
  }
  
  nav li {
    -webkit-animation-name: nav-link-load;
            animation-name: nav-link-load;
    -webkit-animation-duration: var(--nav-link-load-time);
            animation-duration: var(--nav-link-load-time);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-delay: var(--nav-load-time);
            animation-delay: var(--nav-load-time);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  
  nav li:first-child {
    -webkit-animation-name: nav-first-link-load;
            animation-name: nav-first-link-load;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  
  nav li:last-child {
    -webkit-animation-name: nav-last-link-load;
            animation-name: nav-last-link-load;
    -webkit-transform: translateX(1000%);
        -ms-transform: translateX(1000%);
            transform: translateX(1000%);
  }
  
  h1 {
    -webkit-animation: article-load 300ms ease-in var(--article-load-delay);
            animation: article-load 300ms ease-in var(--article-load-delay);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  
  p {
    -webkit-animation: article-load 500ms ease-in calc(var(--article-load-delay) + 200ms);
            animation: article-load 500ms ease-in calc(var(--article-load-delay) + 200ms);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  
  @-webkit-keyframes nav-load {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes nav-load {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-webkit-keyframes nav-link-load {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  
    90% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes nav-link-load {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  
    90% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes nav-first-link-load {
    0% {
      -webkit-transform: translateX(-1000%);
              transform: translateX(-1000%);
    }
  
    90% {
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
    }
  
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes nav-first-link-load {
    0% {
      -webkit-transform: translateX(-1000%);
              transform: translateX(-1000%);
    }
  
    90% {
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
    }
  
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @-webkit-keyframes nav-last-link-load {
    0% {
      -webkit-transform: translateX(1000%);
              transform: translateX(1000%);
    }
  
    90% {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes nav-last-link-load {
    0% {
      -webkit-transform: translateX(1000%);
              transform: translateX(1000%);
    }
  
    90% {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @-webkit-keyframes article-load {
    0% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes article-load {
    0% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }

  /**** Fin test ***/

/*** Start ****/

#imageStart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: url('asset/images/adoptanimal.jpg') no-repeat center center;
    background-size: cover;
}

/*** Creer Annonce ****/


/*** Accueil ****/

#rechercheAccueil {
    margin-right: 5%;
    width: 30%;
    border: 1px solid #707070;
    padding: 3%;
    border-radius: 5%;
    position: absolute;
    z-index: 1;
    background: white;
    top: 10%;
    left: 65%;
}

.bodyAccueil {
    margin: none;
}

.bodyAccueil main {
    width: 100%;
    margin: none;
}

body main .sectionImage {
    margin: none;
}

#imageAccueil {
    background: url("../images/accueil.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 800px;
    width: 100%;
}

.sectionDerniereAnnonce {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.sectionCoeur {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

@media screen and (max-width:720px) {
    #rechercheAccueil {
        width: 70%;
        left: auto;
        margin-left: 15%;
    }
}

@media screen and (max-width:992px) {
    #rechercheAccueil {
        width: 60%;
        left: auto;
        margin-left: 20%;
    }
}


/*** Fin Accueil ***/


/*** Signup/Signin/WhoAreYou/MdpOublié/Navbar ***/

#navAccountImg {
    border: 1px solid black;
    padding: 1px;
}

#navAccountImg:hover {
    border: 2px solid #7FC386;
}

.hrWho {
    border: 2px solid #e0dfdf;
    border-radius: 25%;
    -webkit-box-shadow: 5px 5px #aaaaaa;
    box-shadow: 5px 5px #aaaaaa;
    width: 50%
}

.shadowConnexion {
    -webkit-box-shadow: 15px 15px 10px #545554;
    box-shadow: 15px 15px 10px #545554;
}

.auto-disable {
    display: none;
}

.titre {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 auto;
}

.navbar-nav a:hover {
    background-color: #7FC386;
}

.active {
    background-color: #7FC386;
    color: aliceblue;
}

#bgsignin {
    background: url("../images/wood.webp");
    background-size: cover;
}

@media screen and (min-width:0px) and (max-width:720px) {
    #navPaw {
        margin-top: 2rem;
    }
}

@media screen and (max-width:992px) {
    .navbar hr {
        border: 2px solid #e0dfdf;
        border-radius: 25%;
        -webkit-box-shadow: 5px 5px #aaaaaa;
        box-shadow: 5px 5px #aaaaaa;
        width: 50%
    }
    .auto-disable {
        display: unset;
    }
    #navPaw {
        margin-left: auto;
    }
    #linkactive1 {
        width: 100%;
        padding-right: 5%
    }
    #linkactive2 {
        width: 100%;
        padding-right: 5%;
    }
    .nav-item {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
    }
    .navbar div {
        width: 50%;
    }
    .navbar ul {
        background-color: white;
        border-top: 2px solid #707070;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        width: 50%;
        height: 40rem;
    }
    #navbarSupportedContent {
        width: 0px;
        height: 0px;
    }
}

.btnsignup {
    margin-left: auto;
    margin-right: auto;
    background-color: #7FC386;
    color: white;
}


/******** Footer Enji Changement *********/

footer h3 {
    font-size: 1rem;
}

footer form {
    font-size: 0.5rem;
    height: 50%;
}

hr {
    background-color: aliceblue;
    width: 65%;
}

.contactFooter input {
    height: 10%;
}

.messageFooter {
    height: 20%;
}

@media screen and (max-width:1200px) {
    #sec1foot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #googlefoot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .mapGoogle {
        margin-top: 1rem;
    }
}


/***************** Fin Changement Enji **************/

#btnsignin {
    margin-left: auto;
    margin-right: auto;
    background-color: #7FC386;
    color: white;
}

#btnsignin:hover {
    background-color: #90d496;
    ;
}

#imagesignin {
    width: 350px;
    height: 330px;
}

#mainsignin {
    width: 60%;
    margin-top: 8rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 10rem;
}

#sec1signin {
    width: 40%;
}

.logosin {
    width: 55px;
    height: 55px;
}

@media only screen and (min-width:0px) and (max-width: 750px) {
    #imagesignin {
        display: none;
    }
    #mainsignin {
        width: 85%;
    }
    #sec1signin {
        width: 100%;
    }
    #logosignin {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media only screen and (min-width:750px) and (max-width: 1370px) {
    #imagesignin {
        width: 35%;
        height: 35%;
    }
    #mainsignin {
        width: 70%;
    }
    #sec1signin {
        width: 65%;
    }
}


/* ---------------------------------------------------------------about us--------------------------------------------*/

#bgabout {
    height: auto;
    width: 100%;
}

.imgabout {
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    border-radius: 20%;
}

.seccard {
    width: 380px;
}

.iconabout {
    background-color: #7FC386;
    color: white;
    border-radius: 50%;
    padding: 1rem;
}

#secofsecaboutus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cardheadabout {
    text-align: center;
}

@media only screen and (min-width:0px) and (max-width: 1370px) {
    #secofsecaboutus {
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .seccard {
        margin: auto;
        margin-top: 2rem;
    }
}

@media only screen and (min-width:750px) and (max-width: 1370px) {
    #secofsecaboutus {
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .seccard {
        margin: auto;
        margin-top: 2rem;
        width: 100%;
    }
}


/*------------------------------------------------------------ header--------------------------------------------------------------- */

.auto-disable {
    display: none;
}

.titre {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 auto;
}

.navbar-nav a:hover {
    background-color: #7FC386;
}

.active {
    background-color: #7FC386;
    color: aliceblue;
}

@media screen and (max-width:992px) {
    #barnav {
        width: 70%;
    }
    #nav {
        position: fixed;
        width: 100%;
    }
    .navbar hr {
        border: 2px solid #e0dfdf;
        border-radius: 25%;
        -webkit-box-shadow: 5px 5px #aaaaaa;
        box-shadow: 5px 5px #aaaaaa;
        width: 50%
    }
    .auto-disable {
        display: unset;
    }
    #navPaw {
        margin-left: auto;
    }
    #linkactive1 {
        width: 100%;
        padding-right: 5%
    }
    #linkactive2 {
        width: 100%;
        padding-right: 5%;
    }
    .nav-item {
        margin-left: 10%;
        margin-right: 0px;
        margin-top: 5%;
    }
    .navbar div {
        width: 50%;
    }
    .navbar ul {
        background-color: white;
        border-top: 2px solid #707070;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        width: 50%;
        margin-left: none;
        margin-right: 100%;
        height: 35rem;
    }
    #navbarSupportedContent {
        width: 0px;
        height: 0px;
    }
}


/*--------------------------------- footer ------------------------------*/

#navfooter {
    width: 200px;
    margin: auto;
}

#bigsecfoot hr {
    border-color: grey;
    width: 100%;
}

#bigsecfoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.textcolor a {
    color: white;
}

#margegoogle {
    margin-right: 1em;
}

#googlefoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.marginfoot {
    margin: auto;
}

@media only screen and (min-width:0px) and (max-width: 750px) {
    #bigsecfoot {
        display: block;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #bigsecfoot section {
        margin-bottom: 2rem;
    }
    #googlefoot {
        display: block;
    }
}

@media only screen and (min-width:750px) and (max-width: 1370px) {
    #bigsecfoot {
        display: block;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #bigsecfoot section {
        margin-bottom: 2rem;
        margin: auto;
    }
    #googlefoot {
        display: block;
        margin: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    * {
        margin: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .marginfoot {
        margin: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


/*---------------------------------------------- confidentialité ----------------------------------------*/

.sizefontst {
    font-size: 25px;
    width: 50%;
}

.bgvert {
    background-color: #7FC386;
    width: 100%;
}


/*-----------------------------------------------announce page filter ---------------------------------*/

#filter_announce_qualites input,
#filter_announce_conditions_de_vie input,
#filter_announce_couleur input,
#filter_announce_espece input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

#filter_announce_qualites input:checked+label,
#filter_announce_conditions_de_vie input:checked+label,
#filter_announce_couleur input:checked+label,
#filter_announce_espece input:checked+label {
    border: 3px solid #7FC386;
}

#filter_announce_qualites label,
#filter_announce_conditions_de_vie label,
#filter_announce_couleur label,
#filter_announce_espece label {
    margin: 0.5rem;
    padding: 5px;
    border: 1px solid #707070;
    color: #707070;
    cursor: pointer;
    margin: auto;
}

label {
    margin-top: 1rem;
    font-weight: 600;
    color: #707070;
}

#filter_announce_submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30%;
}

#cardfilter {
    width: 35%;
}