<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Page d'accueil</title>
</head>
<body>
    <header class="nav">
        <a href="#" class="icon"></a>
        <h1>Adopt'Animal</h1>
        <nav>
            <ul>
                <li><a href="#connexion">Connexion</a></li>
                <li><a href="#inscription">Inscription</a></li>
            </ul>
        </nav>
    </header>

<section id="image">
        <h2>Adopt'Animal</h2>
        <h3>Le premier site de rencontre<br>Entre Hommes & Animaux !</h3>
        <a href="#" class="button">Commencer</a>
    </div>
</section>
    
</body>
</html>