{%  extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
<header class="">
	<img id="bgabout" src="{{ asset('asset/images/chien-chat.jpg')}}" alt="chien">
</header>

<section class="bigsecabout">
	<h1 class="text-center mt-3 mb-3">
		Nos engagements
	</h1>
	<section id="secofsecaboutus">
		<section class="card seccard">
			<div class="card-header cardheadabout">
				<i class="fa fa-anchor iconabout" aria-hidden="true"></i>
				<h2 class="text-center">Des partenaires sérieux</h2>
				<p class="text-center">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
			</div>
			<img class="card-img imgabout" src="{{ asset('asset/images/serieux.jpg')}}" alt="une balade avec une femme et un chien">
			<div class="card-body text-center">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies porta urna vitae congue. Curabitur mollis, diam quis sollicitudin volutpat, libero ligula luctus augue, eu mattis diam eros eu ligula. Morbi tellus ex, elementum rhoncus cursus a, ornare vehicula leo. Sed laoreet nec dui a vestibulum. Phasellus luctus pellentesque ornare. Vivamus eu tempor tellus. Aenean placerat ultricies libero nec fermentum. Duis nec urna at ante vehicula tincidunt nec id tellus. Nulla ultrices tempus orci in imperdiet. Morbi suscipit leo id diam semper sollicitudin. Aenean vel sem in ipsum pharetra tincidunt eu sed libero. Nulla gravida eros et elit vulputate lobortis.</p>
			</div>

		</section>

		<section class="card seccard">
			<div class="card-header cardheadabout">
				<i class="fa fa-flag iconabout" aria-hidden="true"></i>
				<h2 class="text-center">La protection animale</h2>
				<p class="text-center">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
			</div>
			<img class="card-img imgabout" src="{{ asset('asset/images/cage.jpg')}}" alt="chien en cage">
			<div class="card-body text-center">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies porta urna vitae congue. Curabitur mollis, diam quis sollicitudin volutpat, libero ligula luctus augue, eu mattis diam eros eu ligula. Morbi tellus ex, elementum rhoncus cursus a, ornare vehicula leo. Sed laoreet nec dui a vestibulum. Phasellus luctus pellentesque ornare. Vivamus eu tempor tellus. Aenean placerat ultricies libero nec fermentum. Duis nec urna at ante vehicula tincidunt nec id tellus. Nulla ultrices tempus orci in imperdiet. Morbi suscipit leo id diam semper sollicitudin. Aenean vel sem in ipsum pharetra tincidunt eu sed libero. Nulla gravida eros et elit vulputate lobortis.</p>
			</div>

		</section>

		<section class="card seccard">
			<div class="card-header cardheadabout">
				<i class="fa fa-lock iconabout" aria-hidden="true"></i>
				<h2 class="text-center">La protection de vos données</h2>
				<p class="text-center">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
			</div>
			<img class="card-img imgabout" src="{{ asset('asset/images/ordi.jpg')}}" alt="protection des données">
			<div class="card-body text-center">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies porta urna vitae congue. Curabitur mollis, diam quis sollicitudin volutpat, libero ligula luctus augue, eu mattis diam eros eu ligula. Morbi tellus ex, elementum rhoncus cursus a, ornare vehicula leo. Sed laoreet nec dui a vestibulum. Phasellus luctus pellentesque ornare. Vivamus eu tempor tellus. Aenean placerat ultricies libero nec fermentum. Duis nec urna at ante vehicula tincidunt nec id tellus. Nulla ultrices tempus orci in imperdiet. Morbi suscipit leo id diam semper sollicitudin. Aenean vel sem in ipsum pharetra tincidunt eu sed libero. Nulla gravida eros et elit vulputate lobortis.</p>
			</div>

		</section>
	</section>

</section>
{% endblock %}