{% extends "base.html.twig" %}

{% block body %}
<style>

</style>
<header class="">
    <img id="bgabout" src="{{asset('asset/images/nsAider2.jpg')}}" alt="Femme et chien complice face à la nature">
</header>
<section class="container mt-5 d-flex flex-column justify-content-center">
        <h1 class="text-center font-weight-semibold mb-3 mt-3">Nous Aider</h1>
        <br><br>
        <h2 class="text-center font-weight-semibold mb-3 mt-3">Promouvoir nos actions</h2>
        <p>Parler de nous à vos proches, mettre en avant nos actions, partager nos actualités, nous suivre
            sur les réseaux sociaux sont aussi des moyens de nous aider en nous rendant plus visibles et en faisant 
            connaître nos actions près de chez vous.
            Suivez et paragez nos actualités sur Facebook
            Abonnez-vous et retweetez-nous sur Twitter
        </p>
        <br>
        <h2 class="text-center font-weight-semibold mb-3 mt-3">Faire un don financier</h2>
        <p>Votre aide est indispensable au bon fonctionnement de notre site.
            Depuis Mars 2021, notre site a recueilli 35% de son budget annuel grâce à vos dons et aux publicités contenu sur notre site :
        </p>
        <div class="progress">
            <div class="progress-bar h7" role="progressbar" style="width: 37%; background-color:rgb(132, 207, 110);" aria-valuenow="7598" aria-valuemin="0" aria-valuemax="22590">7598€</div>
          </div>
        <br>
        <h2 class="text-center font-weight-semibold mb-3 mt-3">Devenir Eleveur partenaire</h2>
        <p>A l'échelle local, nous travaillons avec de nombreux partenaires : des particuliers, des éleveurs
            et centres qui nous font confiance et nous soutiennent dans nos projets mais aussi d'autres associations et organismes 
            avec qui nous travaillons main dans la main.
            Pour devenir elveur partenaire, l est nécessaire de répondre à des critères de bien-être pour les futurs animaux 
            adoptés.</p>
            <p>Devenir refuge d'or, permet d'avoir une reconnaissance sur notre site, un gage de confiance pour les particuliers
            qui parcourent notre site. Pour plus d'informations, merci de nous contacter ( voir bas de page ).
        </p>
        <br>
</section>
{% endblock %}