{% extends "base.html.twig" %}

{% block title %}Créer un article
{% endblock %}

{% block body %}
<style>
	#imageCreerAnnonce {
    background-size: 100% 100%;
    height: 600px;
    width: 100%;
	position: absolute;
		z-index: -1;
		top: 2%;
}
	 .sectionFormAnnonce  {
		 margin-top: 25%;
		background-color: white;
		border: 1px solid #70707080;
		border-top-left-radius: 10%;
		border-radius: 10%;

	}

	#create_announce_qualites input, #create_announce_conditions_de_vie input {
		position: fixed;
		opacity: 0;
		pointer-events: none;
	}

	#create_announce_qualites input:checked + label, #create_announce_conditions_de_vie input:checked + label  {
		border: 3px solid #7FC386;
	}

	#create_announce_qualites label, #create_announce_conditions_de_vie label {
		margin: 0.5rem;
		padding: 1rem;
		border: 1px solid #707070;
		color: #707070;
		cursor: pointer;
	}
	label {
		margin-top: 1rem;
		font-weight:600;
		color: #707070;
	}
	#create_announce_submit {
		display: flex;
		justify-content: center;
		width: 30%;
		margin-bottom: 100px;
	}

</style>

<div >
		<img src="{{ asset('asset/images/applati.jpg') }}" id="imageCreerAnnonce">

</div>
<section class="container sectionFormAnnonce">
	<div class="container mt-5">
		<h2 class="text-center mt-5">Creer votre annonce</h2>
		{{ form( form, { 'action': path('create_announce') } ) }}
		</div>
</section>
	{% endblock %}
