{%  extends 'base.html.twig' %}

{% block title %}Annonces
{% endblock %}

{% block body %}
	<header >
		<img src="{{ asset('asset/images/applati.jpg') }}" id="imageCreerAnnonce">
	</header>

	<form class="container mt-5 mb-5">
		{{ 
			form(
				form, 
				{
					'action': path('create_announce'),
					'method': 'POST'
				}
			) 
		}}
		</form>
	{% endblock %}

